# ide/misc files

.idea
.vscode
__pycache__
venv
.DS_Store
knowledge_base.json

# input/output files

output/*
!output/.gitkeep
saved_figures/*
!saved_figures/.gitkeep
src_images/*
!src_images/.gitkeep
topic_images/*
!topic_images/.gitkeep